<div class="mt-4">
    <ul class="fav">
      <li><button (click)="NavigateTo('trends-on-insta')"><img [src]="'assets/Images/trending on insta.png'" class="trend" alt="trend"></button>
        <div class="info-img">
          <h5>Trending on Instagram</h5>
          <p>Explore Now!</p>
        </div>
      </li>
      <li><button (click)="NavigateTo('under-500')"><img [src]="'assets/Images/Screenshot (2310).png'" class="low-cost" alt="low-cost"></button>
        <div class="info-img">
          <h5>All under 500</h5>
          <p>Explore Now!</p>
        </div>
      </li>
    </ul>
  </div>

