<div class="brands">
    <ul class="brands-logos">
      <li><img [src]="'assets/Images/H___M-removebg-preview.png'" class="h-m" alt="h-m"></li>
      <li><img [src]="'assets/Images/Obey-Logo-removebg-preview.png'" class="obey" alt="obey"></li>
      <li><img [src]="'assets/Images/shopify-logo-removebg-preview.png'" class="shopify" alt="shopify"></li>
      <li><img [src]="'assets/Images/Lacoste-logo-removebg-preview.png'" class="lacoste" alt="lacoste"></li>
      <li><img [src]="'assets/Images/levi_logo-removebg-preview.png'" class="levis" alt="levi"></li>
      <li><img [src]="'assets/Images/Amazon-logo-removebg-preview.png'" class="amazon" alt="amazon"></li>
    </ul>
  </div>
