<div>

    <div>
        <app-carousal></app-carousal>
    </div>

    <div>
        <app-brand-strip></app-brand-strip>
    </div>

    <h4 class="heading"><b>NEW ARRIVALS</b></h4>

    <div>
        <app-clothes-type></app-clothes-type>
    </div>

    <div>
        <app-sale></app-sale>
    </div>

    <h4 class="heading"><b>Young's Favourite</b></h4>

    <div>
        <app-favourites></app-favourites>
    </div>

    <div>
        <app-app-info></app-app-info>
    </div>

    <div>
        <app-newsletter></app-newsletter>
    </div>




</div>
