<div class="catalouge">
    <ul class="clothes-type">
      <li><img [src]="'assets/Images/Screenshot (2306).png'" class="sweatshirt" (click)="navigate('/new-arrivals/hoodies')">
        <div class="info-img">
          <h5>Hoodies & Sweatshirts</h5>
          <p>Explore Now!</p>
        </div>
      </li>
      <li><img [src]="'assets/Images/Screenshot (2307).png'" class="coats" (click)="navigate('/new-arrivals/coats')">
        <div class="info-img">
          <h5>Coats & parkas</h5>
          <p>Explore Now!</p>
        </div>
      </li>
      <li><img [src]="'assets/Images/Screenshot (2308).png'" class="tees" (click)="navigate('/new-arrivals/tees')">
        <div class="info-img">
          <h5>Tees & T-shirts</h5>
          <p>Explore Now!</p>
        </div>
      </li>
    </ul>
  
  
