<div class="sale">
    <img [src]="'assets/Images/Screenshot (2231)_cleanup.png'" class="paydaysale">
    <div class="sale-text">
      <div>
      <h1><b><span class="bg-white text-black p-2">PAYDAY</span><br>SALE NOW</b></h1>
      <p>Spend minimal 2000 and get 30% off</p>
      <p>voucher code for your next purchase</p><br><p>October to November</p>
      <p>*Terms and Conditions Apply</p>
      <button class="bg-black text-white uppercase py-2 px-4 font-bold rounded-xl" (click)="navigate('/under-500')">SHOP NOW</button>
      </div>
    </div>
  </div>

