<div class="app-container">
    <div class="info-img">
      <h3><b>DOWNLOAD APP & <br> GET THE VOUCHER!</b></h3>
      <p>Get 30% off for first transaction using <br>RandoVision mobile app for now</p>

      <div class="flex space-x-4">
      <img [src]="'assets/Images/playstore-removebg-preview.png'" alt="playstore" class="gplaystore">
      <img [src]="'assets/Images/icons_playstore-removebg-preview.png'" alt="app store" class="appstore">
      </div>
    </div>


    <img [src]="'assets/Images/app-removebg-preview.png'" alt="mobile app" class="app">
  </div>
