.info-img {
    margin: 10px;
    padding: auto;
}

.app-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: black;
    padding-left: 10%;
}

.gplaystore {
    height: 50px;
    width: 120px;

}

.appstore {
    height: 50px;
    width: 120px;
}

.app {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-left: auto;
}
