.newsletter {
    background-color: #e3c244;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 5px;
    height: 400px;
    margin-top: 10px;
    padding-top: 100px;
    word-spacing: 3px;
}

.popup {
    width: 500px;
    background-color: white;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 20px;
    color: black;
    visibility: hidden;
    transition: transform 0.4s, visibility 0.4s;
    z-index: 9999;
}

.popup img {
    width: 100px;
    margin-top: -20px;
}

.popup h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;
}

.popup button {
    width: 100px;
    margin-top: 20px;
    padding: 10px 0;
    border: 0;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
